$color-blue-theme: #3E66FF;
$color-dark-blue-theme: #1F1569;
$color-thin-border: #D9E2EE;
$color-background-gray: #b6bdcb;
$color-veri-peri: #7575FF;
$color-dark-veri-peri: #4F4FFF;
$color-light-veri-peri: #9999FF;
$color-lighter-veri-peri: #B3B3FF;
$color-header-text-gray: #6B7D99;